* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50px;
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}